[defaults]
inventory = inventory.yml
host_key_checking = False
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
forks = 5
timeout = 30
remote_tmp = ~/.ansible/tmp
local_tmp  = ~/.ansible/tmp
private_key_file = ~/.ssh/id_ed25519_ansible

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
retries = 3
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=5 -q
